RewriteEngine On

# Make sure that various old URLs still work
Redirect 301 /diagram http://lod-cloud.net

# Make sure that old URLs like lod-datasets_2011-09-19.png still work
RewriteRule ^lod-datasets_(\d\d\d\d-\d\d-\d\d)(.*)$ http://lod-cloud.net/versions/$1/lod-cloud$2 [R=301,L]

# To make the URIs in the voiD dump dereferenceable, redirect everything
# else that is not in /data to the dump with 303
RewriteCond $0 !^(data|diagram|state|resources|versions)(/.*)?$
RewriteRule .+ http://dsi.lod-cloud.net/dataset/$0 [R=303,L]

# Configure correct media type for Turtle files
AddType text/turtle .n3 .ttl
