RewriteEngine On

# Remove initial www. from host name
RewriteCond %{HTTP_HOST} ^www\.(.+)$
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Make sure that various old URLs still work
Redirect 301 /diagram http://lod-cloud.net

# Make sure that old URLs like lod-datasets_2011-09-19.png still work
RewriteRule ^lod-datasets_(\d\d\d\d-\d\d-\d\d)(.*)$ http://lod-cloud.net/versions/$1/lod-cloud$2 [R=301,L]

# Configure correct media type for Turtle files
AddType text/turtle .n3 .ttl
