* {
  line-height: 1.3em;
}
img {
  border: 0;
}
th {
  text-align: left;
}
.versions td {
  padding-left: 1em;
}
a:link {
  color: #2448A6;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: underline;
}
h1, h2 {
  border-bottom: 2px solid #2F5BCF;
  color: #363636;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: normal;
}
h1 {
  font-size: 200%;
  margin-bottom: 0;
  padding-top: 0.25em;
  padding-bottom: 0.1em;
}
h2 {
  font-size: 120%;
  margin-top: 2.2em;
  padding-bottom: 0.3em;
}
body {
  margin: 2em;
}
td.dataset-count {
  text-align: right;
}
h2 small a:link, h2 small a:visited {
  color: #ddd;
  font-size: 90%;
}
