Redirect 301 /state/2010-10_index.html http://lod-cloud.net/state/2010-10-19/
Redirect 301 /state/2011-02_index.html http://lod-cloud.net/state/2011-02-16/
Redirect 301 /state/2011-03_index.html http://lod-cloud.net/state/2011-03-28/
Redirect 301 /state/2011-09_index.html http://lod-cloud.net/state/2011-09-19/
Redirect 301 /state/2011_09_index.html http://lod-cloud.net/state/2011-08-10/
Redirect 301 /state/2011_ckan_statistics.html http://lod-cloud.net/state/2011-08-08/
Redirect 301 /state/2011_statistics.html http://lod-cloud.net/state/2011-08-08/
